
<nav style="position: sticky; ">
<ul class="nav justify-content-center" style="">
    <li class="nav-item">
      <a class="nav-link active" href="/mavs" style="color: white; font-size: 30px; ">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mavsroster" style="color: white; font-size: 30px;">Roster</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mavsabout" style="color: white; font-size: 30px;">About</a>
    </li>
  </ul>
</nav>