<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>About Mavs</title>
</head>
<body style="background-color: #002B5E;">
    <%- include('./partials/NavBar.ejs') %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Dallas Mavericks About Page</h1>
          <p class="lead">The Dallas Mavericks (often referred to as the Mavs) are an American professional basketball team based in Dallas. The Mavericks compete in the National Basketball Association (NBA) as a member of the Western Conference Southwest Division. The team plays its home games at the American Airlines Center, which it shares with the National Hockey League's Dallas Stars.
            Throughout the 1980s, the Mavericks were a perennial playoff team, led by All-Stars Rolando Blackman and Mark Aguirre. The team struggled during the 1990s, entering into a period of rebuilding. In 1998, the franchise's fortunes would change drastically with the acquisition of Dirk Nowitzki, who would become the cornerstone of the most successful period in franchise history, leading the team to its first and only NBA championship in 2011. The Mavericks later entered a rebuilding phase in the tail end of Nowitzki's storied career. They missed the playoffs in three consecutive years from 2017 to 2019, after which Nowitzki retired following his record-breaking 21st season with Dallas. Led by 2019 Rookie of the Year Luka Dončić, the Mavericks returned to the playoffs in 2020 and reached the Western Conference Finals in 2022 for the first time since their 2011 championship.
            In February 2020, the Mavericks sold out their NBA-record 815th consecutive game, dating back to December 15, 2001. The sellout streak, which includes 67 playoff games, is the longest currently running in North American major league sports.
            Currently, the Dallas Mavericks are owned by investor Mark Cuban. Since the Mavericks' inaugural 1980–81 season, the Mavericks have won four division titles (1987, 2007, 2010, 2021), two conference championships (2006, 2011), and one NBA championship (2011).</p>
        </div>
      </div>
    <div class="text-center">
        <img src="https://logodownload.org/wp-content/uploads/2021/07/dallas-mavericks-logo-1.png" class="rounded" style="height: 200px; width: 200px;" alt="...">
      </div>

      
      
</body>
</html>