<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Edit Player Profile</title>
</head>
<body style="background-color: #002B5E; color: white;">
    <%- include('./partials/NavBar.ejs') %>
    <div class="jumbotron">
    <p style="color: black; font-size: 50px;">Time to update the roster!</p>
    <form action="/mavs/<%=mavs.id%>?_method=PUT" method="POST">
    <input placeholder="Name" type="text" name="name" >
    <input placeholder="Position" type="text" name="position">
    <input placeholder="Height" type="text" name="height">
    <input placeholder="Weight" type="number" name="weight">
    <input placeholder="Jersey Number" type="number" name="number">
    <input placeholder="Image URL" type="url" name="img">
    <input placeholder="PPG" type="text" name="ppg">
    <input placeholder="APG" type="text" name="apg">
    <input placeholder="RPG" type="text" name="rpg">
    <input placeholder="Background Image URL" type="url" name="backimg">
    <input type="submit" value="Update Player">
    </form>
</div>
<div class="text-center">
    <img src="https://logodownload.org/wp-content/uploads/2021/07/dallas-mavericks-logo-1.png" class="rounded" style="height: 200px; width: 200px;" alt="...">
  </div>
</body>
</html>