<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Player Profile</title>
</head>
<body>
    Time for an update!
    <form action="/mavs/<%=mavs.id%>?_method=PUT" method="POST">
    <input placeholder="Name" type="text" name="name">
    <input placeholder="Position" type="text" name="position">
    <input placeholder="Height" type="text" name="height">
    <input placeholder="Weight" type="number" name="weight">
    <input placeholder="Number" type="number" name="number">
    <input placeholder="Image URL" type="url" name="img">
    <input placeholder="PPG" type="text" name="ppg">
    <input placeholder="APG" type="text" name="apg">
    <input placeholder="RPG" type="text" name="rpg">
    <input type="submit" value="Update Player">
    </form>
</body>
</html>